@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

// fonts 
$josefin_font: 'Josefin Sans', sans-serif;

// colors
$primary_color: #24283C;
$secondary_color: #457FCA;
$text_color: #454960;
$shadow_color2: #AA82E4;
$shadow_color1: #6ABAF9;
$background_color: #181823;
$white: #fff;